# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache & build files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# OS & IDE metadata
.DS_Store
Thumbs.db
.idea/
.vscode/

# Lock files & temporary files
.~lock.*
*.tmp
